.editor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f4f9f9;
  display: flex;
  flex-direction: column;
  user-select: none;
  visibility: visible;
  z-index: 1;
}
.editor-header {
  width: 100%;
  height: 42px;
  line-height: 40px;
  background: #ccf2f4;
  color: #aaaaaa;
  box-sizing: border-box;
  border-bottom: 2px solid #ffffff;
  z-index: 2;
}
.editor-main {
  position: relative;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.editor-control-bar {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: #00b9ff;
  width: 400px;
  height: 40px;
  z-index: 2;
}
.editor-palette-bar {
  width: 40px;
  height: 100%;
  background: #ccf2f4;
  box-sizing: border-box;
  z-index: 2;
}
.editor-context-pad {
  width: 320px;
  height: 100%;
  background: #ccf2f4;
  box-sizing: border-box;
  z-index: 2;
}
.editor-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}
.screen {
  width: 1920px;
  height: 1080px;
  position: relative;
}
.editor-wrapper-area,
.editor-canvas-area,
.editor-handler-area {
  width: 1920px;
  height: 1080px;
  position: absolute;
  box-sizing: border-box;
}
.editor-wrapper-area {
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: dashed 2px transparent;
}
.editor-canvas-area {
  z-index: 2;
}
.editor-handler-area {
  z-index: 3;
  pointer-events: none;
}
