.editor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  user-select: none;
  visibility: visible;
  z-index: 1;
  background: #121212;
}
.editor-header {
  width: 100%;
  height: 42px;
  line-height: 40px;
  background: #20212b;
  color: #b6b8cc;
  box-sizing: border-box;
  border-bottom: 2px solid #000000;
  z-index: 2;
  position: relative;
}
.editor-main {
  position: relative;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.editor-control-bar {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: #20212b;
  width: 400px;
  height: 40px;
  z-index: 2;
}
.editor-content-pad {
  width: 360px;
  height: 100%;
  background: #20212b;
  box-sizing: border-box;
  z-index: 2;
  padding: 6px;
  .component-base-config {
    border-top: 1px solid #303247;
    margin-top: 16px;
    color: #b6b8cc;
    &:first-of-type {
      border: none;
      margin-top: 0;
    }
  }
  .content-pad-item__title {
    width: 100%;
    font-size: 16px;
    height: 36px;
    line-height: 32px;
    padding: 0 8px;
    color: #b6b8cc;
  }
  .content-pad-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    & +.content-pad-row {
      margin-top: 8px;
    }
  }
}
.editor-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}
.screen {
  width: 1920px;
  height: 1080px;
  position: relative;
}
.editor-wrapper-area,
.editor-canvas-area,
.editor-handler-area {
  width: 1920px;
  height: 1080px;
  position: absolute;
  box-sizing: border-box;
}
.editor-wrapper-area {
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background: url("../../assets/images/background/world.jpg") no-repeat center center;
  background-size: cover;
  border: dashed 2px transparent;
}
.editor-canvas-area {
  z-index: 2;
}
.editor-handler-area {
  z-index: 3;
  pointer-events: none;
}
